@import "../sass/styles.scss";
@import "../../pages/Menu.module.scss";

.button-big {
  @include button-big;
  position: absolute;
}

.button-small {
  @include button-small;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
  }
}

.button-smallWhite {
  @include button-small;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  & img {
    width: 32px;
  }
}

.button-smallBlack {
  @include button-small;
  height: 3.75rem;
  width: 3.75rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-brown;

  & img {
    width: 18px;
  }
}

.button-menu {
  @include button-small;
  height: 3rem;
  width: 3rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2.2%;
  left: 4%;
  background-color: white;
  color: black;
  font-size: 62px;
  font-weight: 100;
}

.button-status {
  @include button-big;
  background-color: white;
  color: black;
  font-size: $font-size-l;
  font-weight: $font-weight-primary;
  padding: 0.7rem 3rem;
}

button {
  all: unset; /* This resets all the default styles, but be cautious as it removes everything */
}
