@import "../sass/styles.scss";

.cartPage {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 99;
  position: fixed;
}

.cartModal {
  width: 90vw;
  background-color: $color-white;
  position: absolute;
  top: 10%;
  right: 5%;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 1em;
  overflow-y: auto; /* Adds a vertical scrollbar when content exceeds the height */
  overflow-x: hidden; /* Optional: hides horizontal overflow if not needed */
  max-height: 80vh;

  li {
    list-style: none;
  }
}

.cartModal::before {
  content: "";
  position: absolute;
  top: -14px; // Adjust to move arrow up/down
  right: 12px; // Adjust to align with cart icon
  width: 30px;
  height: 15px;
  background: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2); // Optional shadow for better visibility
}

.yourOrder {
  font-size: $font-size-xl;
  text-align: center;
}

.cofDesc {
  font-size: $font-size-xs;
  font-family: $font-secondary;
}

.bottomPart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.totalSeparator {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
