@import "../sass/styles.scss";

.cartPage {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 99;
  position: fixed;
}

.cartModal {
  width: 90vw;
  background-color: $color-white;
  position: absolute;
  top: 10%;
  right: 5%;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
  min-height: 80vh;

  li {
    list-style: none;
  }
}

.cartPointer {
  content: "";
  position: absolute;
  top: 61px;
  right: 31px;
  width: 30px;
  height: 15px;
  background: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2);
}

.yourOrder {
  font-size: $font-size-xl;
  text-align: center;
  margin-top: 1rem;
}

.cofDesc {
  font-size: $font-size-xs;
  font-family: $font-secondary;
  margin-bottom: 3em;
}

.description {
  font-size: $font-size-xs;
  font-family: $font-secondary;
  margin-bottom: 2em;
}

.bottomPart {
  display: flex;
  flex-direction: column;
}

.totalSeparator {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  font-family: $font-primary;
  font-size: $font-size-l;
  font-weight: 900;
  align-items: center;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
}

.totalPrice {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}
