@import "../sass/styles.scss";

.headerContainer {
  background-image: url("../svg/header_bg.svg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  position: absolute;
  width: 100%;
}

.bgHeader {
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.buttonsContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  padding: 1rem;
  margin-top: -2rem;
}

.navLink,
.cartLink {
  background: none;
  border: none;
}

.navLink img {
  width: 2.3rem;
}

.cartLink img {
  width: 24px;
}

.cartBadge {
  background-color: $color-orange;
  width: 1.38rem;
  height: 1.38rem;
  padding: 0.5em;
  border-radius: 10em;
  font-family: $font-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-sm;
  color: $color-white;
  font-weight: 500;
  position: absolute;
  top: 12%;
  right: 4%;
}
