@import "../assets/sass/styles.scss";

:global {
  @import "../assets/sass/styles.scss";
}

:global {
  body {
    padding: 0;
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  h4,
  p,
  span,
  ul {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

/* LandingPage.module.scss */
.landingPage {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  height: 100vh; /* Ensure full height of the viewport */
  width: 100%;
  flex-direction: column;
  /* Alternatively, for background image: */
  background-color: $color-green;
  background-size: cover; /* Optional for images */
  background-position: center center; /* Optional for image positioning */
}

.logoArt {
  background: lighten($color-green, 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  border-radius: 100%;
  height: 5em;

  & img {
    width: 3em;
    height: 3em;
  }
}
