@import "../assets/sass/styles.scss";

:global {
  @import "../assets/sass/styles.scss";
}

:global {
  body {
    padding: 0;
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  h4,
  p,
  span,
  ul {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

/* LandingPage.module.scss */
.landingPage {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  height: 100vh; /* Ensure full height of the viewport */
  width: 100%;
  flex-direction: column;
  /* Alternatively, for background image: */
  background-color: $color-green;
  background-size: cover; /* Optional for images */
  background-position: center center; /* Optional for image positioning */

  h1 {
    font-family: $font-welcomepage;
    font-weight: $font-welcomepage;
    font-size: 2.6rem;
  }

  p {
    font-family: $font-secondary;
    font-weight: $font-weight-secondary;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.3rem;
  }
}

.logoArt {
  background: lighten($color-green, 5%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  border-radius: 100%;
  height: 5em;

  & img {
    width: 3em;
    height: 3em;
  }
}


.landingLeft {
  background-image: url("../assets/svg/landing_left.svg");
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
}

.landingRight {
  background-image: url("../assets/svg/landing_right.svg");
  background-repeat: no-repeat;
  background-position: right;
  height: 100%;
  position: absolute;
  width: 100%;
}