@import "../assets/sass/styles.scss";

.menuPage {
  height: 100vh; /* Ensure full height of the viewport */
  width: 100%;
  background-color: $color-primary;
}

.coffeeList {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  margin-top: 3rem;
}

.menuContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.footer {
  position: absolute;
  background-color: $color-primary;
}
