@font-face {
  font-family: "PT Serif";
  src: url("/fonts/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rufina Bold";
  src: url("/fonts/Rufina-Bold.ttf") format("truetype");
}
