@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-Regular.ttf");
}

@font-face {
  font-family: "Work Sans";
  src: url("../src/assets/fonts/WorkSans-Regular.ttf");
}

@font-face {
  font-family: "Rufina Bold";
  src: url("../src/assets/fonts/Rufina-Bold.ttf");
}
