@import "./variables.scss";

@mixin button-big($bg-color: $color-brown) {
  background-color: $bg-color;
  border: none;
  border-radius: 5rem;
  color: $text-light;
  font-family: $font-primary;
  font-weight: $font-weight-primary;
  font-size: $font-size-l;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
}

@mixin button-small {
  background-color: $color-brown;
  border: none;
  border-radius: 100%;
  color: $text-light;
  font-family: $font-primary;
  font-weight: $font-weight-primary;
}
